<!DOCTYPE html>
<html>
  <head>
    <title>GoalsettingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        Welcome, <%= current_user.email %>.
        <form action="<%= session_url %>" method="post">
          <%= auth_token %>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Log Out">
        </form>
      <% else %>
        <a href="<%= new_session_url %>">Log In</a>
        <a href="<%= new_user_url %>">Sign Up</a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
