<% action = (cat.persisted? ? cat_url(cat) : cats_url) %>
<% method = (cat.persisted? ? :patch : :post) %>

<form action="<%= action %>" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
        
    <input type="hidden" name="_method" value="<%= method %>">

    <label for="name">Name: </label>
    <input type="text" id="name" name="cat[name]" value="<%= cat.name %>">

    <br>
    <label for ="male">Sex: </label>
    <input type="radio" 
        id="male" 
        name="cat[sex]" 
        value="M" 
        <%= cat.sex == "M" ? "checked" : "" %> >
    <label for="male">Male</label>
    <input type="radio" 
        id="female" 
        name="cat[sex]" 
        value="F" 
        <%= cat.sex == "F" ? "checked" : "" %>>
    <label for="female">Female</label>

    <br>
    <label for="color">Color: </label>
    <select name="cat[color]" id="color">
        <option disabled selected>- select a color -</option>
        <% Cat::CAT_COLORS.each do |color| %>
            <option value="<%= color %>" 
                <%= cat.color == color ? "selected" : "" %>>
                <%= color %>
            </option>
        <% end %>
    </select>

    <br>
    <label for="birth_date">Birth date: </label>
    <input type="date" id="birth_date" name="cat[birth_date]" value="<%= cat.birth_date %>">

    <br>
    <label for="description">Description: </label>
    <textarea id="description" 
        name="cat[description]" 
        rows="4" 
        cols="25"><%= cat.description %></textarea>

    <% submit_text = (cat.persisted? ? "Update" : "Add new") + " cat!" %>
    <br>
    <input type="submit" value="<%= submit_text %>">
</form>