<h1><%= @goal.title %></h1>
<h2>
    <% if @goal.completed %>
        completed by
    <% else %>
        in progress by
    <% end %>

    <a href="<%= user_url(@goal.user_id) %>"><%= @goal.user.email %></a>
</h2>
<h2>Target Completion of <%= @goal.completion_date %></h2>

<h3>Description: </h3>
<p> <%= @goal.description %></p>

<% if current_user.id == @goal.user_id %>
    <%= link_to "Edit Goal", edit_goal_url(@goal.id) %>
    <%= link_to 'Delete Goal', goal_url(@goal.id), method: :delete %>
<% end %>

<h3>Comments: </h3>
<ul>
<% @goal.comments.each do |comment| %>
    <li><%= comment.text %>
    by <%= User.find_by(id: comment.author_id).email %>
    </li>
<% end %>
</ul>

<h3>Add a new comment: </h3>
<% if current_user %>
    <%= render "shared/comment_form" %>
<% else %>
    <p>You must <%= link_to 'Log In', new_session_url %> to add comments.</p>
<% end %>