<h1><%= @album.title %></h1>
<h3>Released in <%= @album.year %> by <a href="<%= band_url(@album.band_id) %>"><%= @album.band.name %></a></h3>

<h3>Tracks</h3>
<ul>
    <% @album.tracks.each do |track| %>
        <li><a href="<%= track_url(track.id) %>"><%= track.title %></li>
    <% end %>
</ul>

<br>
<a href="<%= new_album_track_url(@album.id) %>">Add track to album</a>

<br>
<form action="<%= album_url(@album.id) %>" method="post">
    <%= auth_token %>
    <br>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete album">
</form>