<h1><%= @user.email %>'s Profile</h1>

<h3><%= @user.email %>'s goals</h3>

<% if @user.id == current_user.id %>
    <%= link_to 'Add A New Goal', new_goal_url %>
<% end %>
<br>

<ul>
    <% @user.goals.each do |goal| %>
        <% unless goal.private %>
            <li><a href="<%= goal_url(goal.id) %>"><%= goal.title %></a> by <%= goal.completion_date %></li>
        <% end %>
    <% end %>
</ul>

<h3>Comments to <%= @user.email %>: </h3>
<ul>
<% @user.comments.each do |comment| %>
    <li><%= comment.text %>
    by <%= User.find_by(id: comment.author_id).email %>
    </li>
<% end %>
</ul>

<h3>Add a new comment: </h3>
<% if current_user %>
    <%= render "shared/comment_form" %>
<% else %>
    <p>You must <%= link_to 'Log In', new_session_url %> to add comments.</p>
<% end %>

