<% if @user %>
    <% commentable_id = @user.id  %>
    <% commentable_type = "User" %>
<% elsif @goal %>
    <% commentable_id = @goal.id %>
    <% commentable_type = "Goal" %>
<% end %>

<form action="<%= comments_url %>" method="post">
        <%= auth_token %>

        <br>
        <textarea name="comment[text]"></textarea>

        <input type="hidden" name="comment[commentable_type]" value="<%= commentable_type %>">

        <input type="hidden" name="comment[commentable_id]" value="<%= commentable_id %>">
        <input type="hidden" name="redirect_path" value="<%= request.path %>">

        <input type="submit" value="Add comment">
</form>