<h1>Add a new track to <%= @album.title %>, by <%= @album.band.name %></h1>

<br>
<form action="<%= tracks_url %>" method="post">
    <%= auth_token %>

    <label for="album_name">Album: </label>
    <select type="text" name="track[album_id]" id="album_name">
        <% @album.band.albums.each do |album| %>
            <option value="<%= album.id %>" <%= "selected" if album.id == @album.id %>><%= album.title %></option>
        <% end %>
    </select>

    <br>
    <label for="track_title">Track title: </label>
    <input type="text" id="track_title" name="track[title]">

    <br>
    <label for="track_ord">Track number: </label>
    <input type="number" id="track_ord" name="track[ord]" min="1" max="40">

    <br>
    <label for="lyrics">Lyrics: </label>
    <textarea id="lyrics" name="track[lyrics]" rows="4" col="40"></textarea>

    <br>
    <label for="track_regular">Regular:</label>
    <input type="radio" id="track_regular" name="track[bonus]" value="false" checked>
    <label for="track_bonus">Bonus:</label>
    <input type="radio" id="track_bonus" name="track[bonus]" value="true">


    <br>
    <input type="submit" value="Add track">
</form>
